<?xml version="1.0" encoding="utf-8" ?>

<!--
dllが参照するapp.configは「実行時のexe名.config」となる。
（ライブラリのプロジェクトにapp.configを追加したら「dll名.dll.config」ができるがこれは参照されない。）

MSTest(UnitTest)でapp.config を使用したい時
テストプロジェクト内にapp.config を作りプロパティを以下のように変更する。
app.config のプロパティ
　　出力ディレクトリのコピー → 常にコピーする
　　ビルドアクション → 埋め込まれたリソース

これでapp.configを実行フォルダに自動的にコピーして名前も自動でリネーム（Testプロジェクト名.dll.configになる）される。
構成ファイルはテストプロジェクト1つにつき1つのみ有効

実行ファイル（.exe）をUnitTestする場合であっても、UnitTest中はライブラリのようにふるまうため、「Testプロジェクト名.dll.config」が参照される。
実行ファイルのプロジェクトのapp.configからテストプロジェクトのapp.configにリンクを張っておけばapp.configの内容を変更した場合のメンテナンスが楽になる。
-->

<configuration>
  <appSettings>
    <!--dependentAssembly要素でdllを別の場所に移動させるためには厳密名が必要なよう。認証情報だけでも別の場所を指定できるようにする。-->
      <add key="relayCredentialsConfigPath" value=".\relayCredentialsSetting.xml"/>
  </appSettings>
</configuration>